movie-list {

}

.movieList-category{
  text-align: center;
  padding-top: .4rem;
  overflow: hidden;
  border-bottom: 2px solid #eee;
}
.movieList-category li{
  padding-bottom: .4rem;
}
.movieList-category li:first-child{
  margin-left: 25%;
}
.movieList-category li:last-child{
  margin-right: 25%;
}
.movieList-active{
  font-weight: bold;
  color: #FF282F;
  border-bottom: 2px solid #FF282F
}

.movie-content-reying,
.movie-content-comesoon{
  border-bottom: 1px solid #eee;
}
.movie-content-reying ion-thumbnail img,
.movie-content-comesoon ion-thumbnail img{
  width: 80px;
  height: 120px;
}
.movie-content-reying h2,
.movie-content-reying p span,
.movie-content-comesoon h2,
.movie-content-comesoon p span{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.movie-content-reying p:nth-of-type(1),
.movie-content-reying p:nth-of-type(2),
.movie-content-comesoon p:nth-of-type(1),
.movie-content-comesoon p:nth-of-type(2){
  color: #000;
  font-weight: normal;
}
.movie-content-reying p:nth-of-type(2){
  position: relative;
}
.movie-content-reying p:nth-of-type(2) span{
  font-size: .6rem;
  padding: 0 .1rem;
  position: absolute;
  top: 0.25rem;
  left: 5rem;
}
.movie-content-reying .movie-buy-btn,
.movie-content-comesoon .movie-buy-btn{
  font-size: 1.4rem;
  color: #fff;
  line-height: 25px;
  background-color: #FF2C25;
}

.movie-content-comesoon p:nth-of-type(2) span{
  padding: 0 .2rem;
  color: #FF2C25;
}

