<!-- Generated template for the MovieListComponent component -->
<div>
  <ul class="movieList-category">
    <li [ngClass]="{'movieList-active': flag}" class="floatLeft" (click)="goReying()">
      <span>正在热映</span>
    </li>
    <li [ngClass]="{'movieList-active': !flag}" class="floatRight" (click)="goComesoon()">
      <span>即将上映</span>
    </li>
  </ul>
</div>
<ion-list>
  <ion-item class="movie-content-reying" [hidden]="!flag">
    <ion-thumbnail item-start>
      <img src="assets/imgs/MEAN.jpg">
    </ion-thumbnail>
    <h2>毒液：致命守护者</h2>
    <p>上映地区：<span>中国大陆、香港</span></p>
    <p>豆瓣评分<span class="badge-ios-danger">9.0</span></p>
    <!--<span ng-repeat="director in item.directors">{{director.name}}{{$last?'':'、'}}</span>-->
    <p>导演：<span>李安</span></p>
    <!--{{item.genres.join('、')}}-->
    <p>主演：<span>邓超</span></p>
    <button ion-button clear item-end class="movie-buy-btn">购买</button>
  </ion-item>

  <ion-item class="movie-content-comesoon" [hidden]="flag">
    <ion-thumbnail item-start>
      <img src="assets/imgs/MEAN.jpg">
    </ion-thumbnail>
    <h2>毒液：致命守护者</h2>
    <p>上映时间：<span>11月30号 周五</span></p>
    <p>有<span>12345345</span>人想看</p>
    <!--<span ng-repeat="director in item.directors">{{director.name}}{{$last?'':'、'}}</span>-->
    <p>导演：<span>李安</span></p>
    <!--{{item.genres.join('、')}}-->
    <p>主演：<span>邓超</span></p>
    <button ion-button clear item-end class="movie-buy-btn">预售</button>
  </ion-item>
</ion-list>
