.movieDetail-header{

}
.movieDetail-content{

}
.content-box{
  width: 100%;
  height: 100%;
}
.movieDetail-top .item-md.item-block,
.movieDetail-top .item-md.item-block .item-inner{
  border-bottom: 0;
}
.movieDetail-top ion-item ion-thumbnail img{
  width: 6.8rem;
  height: 9.4rem;
}
.movieDetail-top ion-item h2{
  font-size: 1.8rem;
  font-weight: 700;
}
.detail-douban-grade span{
  color: #FF2C25;
  font-weight: 600;
}

.watch-btn{
  padding: 0 .8rem;
  margin: 1rem 0;
}
.watch-btn .button-md{
  width: 26%;
  height: 2.6rem;
  line-height: 2.6rem;
  border-radius: 3.2rem;
}
.watch-btn button{
  margin: 0 .6rem;
}
.watch-btn button span{
  font-size: 1.6rem;
  margin-right: .4rem;
}

.movieDetail-actor{
  width: 100%;
  overflow: hidden;
}
.movieDetail-actor span{
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  border-top: 1px solid #eee;
  padding: .8rem 0 .8rem 1rem;
}

.movieDetail-actor .swiper-container{
  overflow-x: scroll;
  background-color: #fff;
}
.movieDetail-actor .swiper-container .swiper-wrapper .swiper-slide{
  width: 25%;
  height: 100%;
}
.movieDetail-actor .label-md{
  margin: 0;
}
.movieDetail-actor .item-md{
  padding: 0 10px 10px;
}
.movieDetail-actor .item-block .item-inner{
  padding: 0;
  border: 0;
}
.movieDetail-actor .swiper-slide p{
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.movieDetail-actor .movieDetail-actor-item img{
  width: 6.4rem;
  height: 8rem;
}
.movieDetail-actor .swiper-slide p:first-of-type{
  color: #000;
  font-size: 1.4rem;
}

.movieDetail-bottom{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.movieDetail-bottom-header{
  width: 100%;
}

.movieDetail-bottom-header .toolbar-md{
  padding: 0;
  min-height: 0;
}
.movieDetail-bottom-tabs{
  background-color: #eee;
}
.movieDetail-bottom-tabsFixed{
  color: #fff;
  background-color: #fff;
  background-image: url('../../assets/imgs/bg-image-02.jpg');
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.movieDetail-bottom-tabs .movieDetail-bottom-tab{
  width: 33%;
  height: 3rem;
  font-size: 1.5rem;
  color: #333;
  line-height: 38px;
  border: 0;
  padding: 0;
  margin: 0 2.4rem;
}
.movieDetail-bottom-header .segment-button.segment-activated{
  color: #00A0E2;
  font-weight: 700;
  border-bottom: 2px solid #00A0E2;
}

.movieDetail-bottom-content,
.movieDetail-bottom-content ion-scroll{
  width: 100%;
  height: 100%;
}

.film-summary p{
  font-size: 1.6rem;
  margin-top: .8rem;
  padding: 0 .8rem;
  line-height: 2rem;
  text-align: justify;
  text-indent: 2.7rem;
}
.film-comment{

}
.film-comment .item-block {
  min-height: 0;
}
.film-comment-item,
.film-discussion-item{
  border: 2px solid #eee;
}
.film-comment-top{
  margin-top: .6rem;
}
.film-comment-top img{
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}
.film-comment-top .film-comment-nickname{
  color: #000;
  font-size: 1.8rem;
  margin-left: .8rem;
}
.film-comment-content,
.film-discussion-content{
  color: #888;
  font-size: 1.4rem;
  text-align: justify;
  text-indent: 2.3rem;
  padding: 0 .8rem;
  margin: .4rem 0 .4rem;
}
.film-comment-bottom{
  padding-bottom: .4rem;
}
.film-comment-bottom .item-block{
  padding-left: .8rem;
}
.film-comment-time{
  font-size: 1.4rem;
  color: #666;
}
.dianzan,
.commentIcon{
  font-size: 1.2rem;
  color: #666;
  margin: 0 .4rem;
}

.film-discussion img{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
}
.film-discussion-bottom{}
.film-discussion-bottom img{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
}
.film-discussion-bottom .film-discussion-nickname{
  font-size: 1.6rem;
  color: #666;
  margin-left: .6rem;
}

.movieDetail-footer{}
.movieDetail-footer .gobuy-btn{
  width: 100%;
  padding: 0;
  margin: 0;
}

