page-login {

}
.login-header{

}
.login-header .goback{
  width: 4rem;
  height: 2.8rem;
  background-color: #a0eee1;
  border-radius: 1.4rem;
  position: absolute;
  top: .9rem;
  left: .6rem;
  z-index: 999;
}
.login-content,
.register-content{
  margin: .6rem 0 .4rem;
  background-color: #eee;
}
.login-content .item-md ion-icon[item-right]{
  margin: 0 .2rem 0 0;
  padding-top: .6rem;
}
.login-content .item-input .label-md,
.register-content .item-input .label-md{
  color: #000;
  margin: .6rem .2rem .6rem 0;
}
.login-content .text-input-md,
.register-content .text-input-md{
  font-size: 1.4rem;
  margin: 0;
  padding-left: .6rem;
}

.login-btn-box{
  margin: 1rem 1rem 0;
  overflow: hidden;
}
.login-btn-box .loginBtn{
  font-size: 1.6rem;
  background-color: #F51933;
}
.login-btn-box .forgot-password{
  font-size: 1.4rem;
  margin: .4rem 0 2rem;
  background-color: #eee;
}
.login-btn-box .forgot-password:active {
  color: #F51933;
}

.register-btn-box{
  width: 100%;
  text-align: center;
}
.register-btn-box .registerBtn{
  height: 3rem;
  background-color: #00A0E2;
}

.contract-box{
  font-size: 1.3rem;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contract{
  margin-left: 1rem;
}
.contract a{
  color: #FF2C25;
}
.goRegister{
}