page-ranking-list {

}
.segment-md .segment-button{
  opacity: 1;
}
.ranking-content .segment-md .segment-button.activated,
.ranking-content .segment-md .segment-button.segment-activated{
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  background-color: #00A0E2;
}

.ranking-header .ranking-title{
  width: 100%;
  background-image: url('../../assets/imgs/rankingHeader.jpg');
  background-size: cover;
}
.ranking-header ion-icon{
  position: absolute;
  top: .8rem;
  left: 1.6rem;
  z-index: 999;
}
.ranking-header .toolbar-title-md{
  font-size: 2.4rem;
  text-align: center;
  margin: .8rem 0;
  background:rgba(255,255,255,0);
}
.ranking-header .toolbar-md{
  padding: 0;
  min-height: 0;
}
.ranking-content .item-block{
  border: 1px solid #eee;
}

.ranking-tabs{
  width: 100%;
  overflow: hidden;
}
.ranking-tabs .ranking-tab{
  font-size: 1.6rem;
  color: #000;
  height: 3.2rem;
  line-height: 3.2rem;
  background-color: #eee;
}
.ranking-tabs .segment-button.segment-activated{
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #00A0E2;
}

.ranking-movieList{

}
.ranking-movieList,
.ranking-todayTop,
.ranking-newMovie,
.ranking-boxOffice,
.ranking-movieList ion-scroll{
  height: 100%;
}
.ranking-movieList ion-item h2,
.ranking-movieList p span{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.ranking-movieList .movie-poster img{
  width: 6.4rem;
  height: 8.6rem;
}

