page-personal-info-setting {

}

.personalInfo-setting-content-header,
.infoSetting-header{
  position: relative;
}

.personalInfo-setting-content{
  background-color: #eee;
}
.personalInfo-setting-content .item-select .label-md,
.personalInfo-setting-content .item-input .label-md,
.personalInfo-setting-content .item-datetime .label-md{
  color: #000;
}
.personalInfo-setting-content .item-block{
  border: 1px solid #eee;
}
.personalInfo-setting-content .userInfo-setting-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.personalInfo-setting-content p{
  font-size: 1.6rem;
}

.userInfo-setting-item .youjiantou{
  padding-left: .4rem;
}
.personalInfo-setting-content .head-portrait img{
  width: 3.5rem;
  height: 3.5rem;
}

.infoSetting-header .saveInfo{
  font-size: 1.6rem;
  color: #000;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.nameSetting-content,
.sexSetting-content,
.descriptionSetting-content{
  background-color: #eee;
}
.nameSetting-content ion-input{
  font-size: 1.6rem;
  background-color: #fff;
  padding: .8rem;
  margin-top: .6rem;
}

.nameSetting-content .text-input-md{
  margin: .2rem 1rem;
}
.sexSetting-content .man-option{
  border-bottom: 1px solid #eee;
}
.birthdaySetting-content .datetime-text{
  color: #666;
}
.birthdaySetting-content .datetime-md{
  padding-right: 0;
}

.show-description{
  background-color: #eee;
}
.show-description p{
  color: #1296db;
  text-indent: 2em;
  padding: 0 1rem;
}

.descriptionSetting-content .item-input ion-textarea{
  height: 16rem;
  padding: 0 .4rem;
}
.descriptionSetting-content .text-input-md{
  height: 13.88rem;
}
.descriptionSetting-content .item-md,
.descriptionSetting-content .item-md.item-block .item-inner{
  padding: 0;
}
