.ion-md-goback:before {
  content: url("../assets/fonts/goback.svg");
}

.ion-md-dianying:before {
  content: url("../assets/fonts/dianying_1.svg");
}
.ion-md-dianying-outline:before {
  content: url("../assets/fonts/dianying.svg");
}
.tab-button[aria-selected=false] .ion-md-dainying-outline:before {
  content: url("../assets/fonts/dianying.svg");
}
.tab-button[aria-selected=true] .ion-md-dianying-outline:before {
  content: url("../assets/fonts/dianying_1.svg");
}

.ion-md-paihangbang:before {
  content: url("../assets/fonts/paihangbang_1.svg");
}
.ion-md-paihangbang-outline:before {
  content: url("../assets/fonts/paihangbang.svg");
}
.tab-button[aria-selected=false] .ion-md-paihangbang-outline:before {
  content: url("../assets/fonts/paihangbang.svg");
}
.tab-button[aria-selected=true] .ion-md-paihangbang-outline:before {
  content: url("../assets/fonts/paihangbang_1.svg");
}

.ion-md-shouye:before {
  content: url("../assets/fonts/shouye_1.svg");
}
.ion-md-shouye-outline:before {
  content: url("../assets/fonts/shouye.svg");
}
.tab-button[aria-selected=false] .ion-md-shouye-outline:before {
  content: url("../assets/fonts/shouye.svg");
}
.tab-button[aria-selected=true] .ion-md-shouye-outline:before {
  content: url("../assets/fonts/shouye_1.svg");
}

.ion-md-fenlei:before {
  content: url("../assets/fonts/genre_1.svg");
}
.ion-md-fenlei-outline:before {
  content: url("../assets/fonts/genre.svg");
}
.tab-button[aria-selected=false] .ion-md-fenlei-outline:before {
  content: url("../assets/fonts/genre.svg");
}
.tab-button[aria-selected=true] .ion-md-fenlei-outline:before {
  content: url("../assets/fonts/genre_1.svg");
}

.ion-md-wode:before {
  content: url("../assets/fonts/wode_1.svg");
}
.ion-md-wode-outline:before {
  content: url("../assets/fonts/wode.svg");
}
.tab-button[aria-selected=false] .ion-md-wode-outline:before {
  content: url("../assets/fonts/wode.svg");
}
.tab-button[aria-selected=true] .ion-md-wode-outline:before {
  content: url("../assets/fonts/wode_1.svg");
}

.ion-md-search:before {
  content: url("../assets/fonts/search.svg");
}
.ion-md-laba:before {
  content: url("../assets/fonts/laba.svg");
}
.ion-md-slideLeft:before {
  content: url("../assets/fonts/slide-left-double.svg");
}
.ion-md-slideRight:before {
  content: url("../assets/fonts/slide-right-double.svg");
}

.ion-md-moreIcon:before {
  content: url("../assets/fonts/more.svg");
}

.ion-md-freshIcon:before {
  content: url("../assets/fonts/fresh.svg");
}

.ion-md-saoyisao:before {
  content: url("../assets/fonts/saoyisao.svg");
}
.ion-md-cinemaIcon:before {
  content: url("../assets/fonts/cinemaIcon.svg");
}
.ion-md-cinema3dGlass:before {
  content: url("../assets/fonts/cinema-3dglass.svg");
}
.ion-md-cinemaWifi:before {
  content: url("../assets/fonts/cinema-wifi.svg");
}
.ion-md-cinemaTuipiao:before {
  content: url("../assets/fonts/cinema-tuipiao.svg");
}
.ion-md-cinemaPark:before {
  content: url("../assets/fonts/cinema-park.svg");
}

.ion-md-paihangbangHeader:before {
  content: url("../assets/fonts/paihangbangHeader.svg");
}

.ion-md-fenleiHeader:before {
  content: url("../assets/fonts/fenleiHeader.svg");
}

.ion-md-setting:before {
  content: url("../assets/fonts/setting.svg");
}
.ion-md-message:before {
  content: url("../assets/fonts/message.svg");
}
.ion-md-youjiantouWhite:before {
  content: url("../assets/fonts/youjiantou_white.svg");
}
.ion-md-youjiantou:before {
   content: url("../assets/fonts/youjiantou.svg");
}

.ion-md-xiangkan:before {
  content: url("../assets/fonts/xiangkan.svg");
}
.ion-md-xiangkan-outline:before {
  content: url("../assets/fonts/xiangkan_1.svg");
}

.ion-md-dianzan:before {
  content: url("../assets/fonts/dianzan.svg");
}
.ion-md-dianzan-outline:before {
  content: url("../assets/fonts/dianzan_1.svg");
}
.ion-md-commentIcon:before {
  content: url("../assets/fonts/commentIcon.svg");
}

.ion-md-notLoginIcon:before {
  content: url("../assets/fonts/notLogin_icon.svg");
}

.ion-md-movieTicket:before {
  content: url("../assets/fonts/movie-ticket.svg");
}
.ion-md-youhuiquan:before {
  content: url("../assets/fonts/youhuiquan.svg");
}
.ion-md-fansIcon:before {
  content: url("../assets/fonts/fans.svg");
}
.ion-md-followIcon:before {
  content: url("../assets/fonts/follow.svg");
}

.ion-md-accoundIcon:before {
  content: url("../assets/fonts/accoundIcon.svg");
}
.ion-md-passwordIcon:before {
  content: url("../assets/fonts/passwordIcon.svg");
}
.ion-md-passwordIcon-outline:before {
  content: url("../assets/fonts/passwordIcon_1.svg");
}
/*
.tab-button[aria-selected=false] .ion-md-passwordIcon-outline:before {
  content: url("../assets/fonts/passwordIcon.svg");
}
.tab-button[aria-selected=true] .ion-md-passwordIcon-outline:before {
  content: url("../assets/fonts/passwordIcon_1.svg");
}*/
.ion-md-pwSeeIcon:before {
  content: url("../assets/fonts/pwSeeIcon.svg");
}
.ion-md-pwSeeIcon-outline:before {
  content: url("../assets/fonts/pwSeeIcon_1.svg");
}

