cinema {

}

.cinema-item{
  border-bottom: 2px solid #eee;
  padding: .6rem 0 .6rem .6rem;
}
.cinema-item .item-block{
  min-height: 0;
}
.cinema-item-top{
  padding: 0;
}
.cinema-item-top .label-md {
  margin: 0;
}
.cinema-item .cinema-icon{}
.cinema-item .cinema-name {
  font-weight: 700;
  padding-left: .4rem;
}
.cinema-item .cinema-ticket-price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #F51933;
}
.cinema-item p{
  margin: .2rem 0;
}
.cinema-item .cinema-address{
  color: #888;
}
.cinema-item .cinema-characteristic span {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  padding: .1rem .2rem;
  margin: 0 .2rem;
  border: 1px solid #00A0E2;
  background-color: #00A0E2;
}
.cinema-item .cinema-characteristic span:nth-of-type(1){
  margin-left: 0;
}
.cinema-item .cinema-characteristic-icon span {
  display: inline-block;
  padding: 0.1rem .2rem 0;
}
.cinema-item .cinema-favourable {
  position: relative;
}
.cinema-favourable .cinema-favourable-title{
  font-size: 1.2rem;
  color: #fff;
  border-radius: 1rem;
  padding: .2rem .6rem;
  background-color: #FF7500;
}
.cinema-favourable .cinema-favourable-icon{
  position: absolute;
  top: .1rem;
  left: 3.4rem;
}
.cinema-favourable .cinema-favourable-content{
  font-size: 1rem;
  color: #FF7500;
  padding-left: 1.4rem;
}
