<!-- Generated template for the CinemaComponent component -->
<ion-list>
  <div class="cinema-item" *ngFor="let item of cinema_data" (click)="goBuyTicketPage(item)">
    <ion-item class="cinema-item-top">
      <ion-icon item-left class="cinema-icon" name="cinemaIcon"></ion-icon>
      <h2 class="cinema-name">
        {{item?.name}}
      </h2>
      <p item-right class="cinema-ticket-price">39.9元起</p>
    </ion-item>
    <p class="cinema-address">{{item?.address}}</p>
    <p class="cinema-characteristic">
      <span *ngFor="let characteristic of item.characteristics">{{characteristic}}</span>
    </p>
    <p class="cinema-characteristic-icon">
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p class="cinema-favourable">
      <span class="cinema-favourable-title">特惠</span>&nbsp;<ion-icon class="cinema-favourable-icon" name="laba"></ion-icon><span class="cinema-favourable-content">{{item?.favourable}}</span></p>
  </div>
</ion-list>