<!-- Generated template for the CinemaComponent component -->
<ion-list class="cinema-list">
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
  <ion-item class="cinema-list-item">
    <ion-icon name="cinemaIcon" class="cinema-icon"></ion-icon>
    <h2>
      金逸影城IMAX店
      <span class="cinema-list-item-price">39.9元起</span>
    </h2>
    <p>海珠区江南大道中180号富力海珠城商业广场B区7层金逸影城电影院</p>
    <p>
      <span>影城卡</span>
      <span>观影小食</span>
      <span>IMAX厅</span>
      <span>4K厅</span>
    </p>
    <p>
        <span>
          <ion-icon name="cinemaTuipiao"></ion-icon>
          <ion-icon name="cinema3dGlass"></ion-icon>
          <ion-icon name="cinemaWifi"></ion-icon>
          <ion-icon name="cinemaPark"></ion-icon>
        </span>
    </p>
    <p><span>特惠</span>毒液：致命守护者等</p>
  </ion-item>
</ion-list>