page-reying {

}
.reying-movie-header{

}
.reying-movie-content{

}


.movie-list-item{
  border: 1px solid #eee;
}
.movie-list-item h2,
.movie-list-item p,
.cinema-list-item p:nth-of-type(1) {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.movie-list-item h2{
  font-size: 1.8rem;
  font-weight: 500;
}
.movie-list-item p{
  font-size: 1.4rem;
}
.movie-list-item button{
  font-size: 1.4rem !important;
  color: #fff;
  background-color: #F51933;
}
