page-movie {

}

.movie-ion-header{
  position: relative;
}

.movie-title .location{
  font-size: 1.8rem;
  margin-left: 0;
  position: absolute;
  top: .8rem;
  left: .8rem;
  z-index: 999;
}
.movie-title .saoyisao{
  position: absolute;
  top: 1.2rem;
  right: .4rem;
  z-index: 999;
}
.movie-ion-header .toolbar-md{
  padding: 0;
  min-height: 0;
}
.movie-ion-header .toolbar-background-md{
  background-color: #fff;
}

.movie-ion-header ion-segment{
  width: 48%;
}
.movie-ion-header .segment-md .segment-button{
  width: 4rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.65rem;
  color: #00A0E2;
  border: 1px solid #00A0E2;
  padding: 0;
  margin: .6rem 0;
}
.movie-ion-header .segment-md .segment-button:nth-last-child{
  border-left: 0;
}
.movie-ion-header .segment-md .segment-button.segment-activated{
  color: #fff;
  background-color: #00A0E2;
}

.movie,
.cinema,
.cinema-content{
  height: 100%;
}