<!-- Generated template for the MovieComponent component -->

<div class="movie-content-box">
  <div class="movie-content-header">
    <ion-segment [(ngModel)]="MovieListTabs" (ionChange)="MovieListTabsChanged()">
      <ion-segment-button value="正在热映">
        正在热映
      </ion-segment-button>
      <ion-segment-button value="即将上映">
        即将上映
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="movie-content-list">
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <ion-scroll scrollY="true" [hidden]="!(MovieListTabs == '正在热映')">
          <ion-list class="reying-movie-list">
            <ion-item class="movie-list-item" *ngFor="let item of movie_reying_data" (click)="goMovieDetailPage(item)">
              <ion-thumbnail class="movie-poster" item-start>
                <img src="{{item.images.small}}" alt="{{item.alt}}">
              </ion-thumbnail>
              <h2>{{item.title}}</h2>
              <p>上映地区：<span>中国大陆、香港</span></p>
              <p class="douban-grade">豆瓣评分<span class="badge-ios-danger">{{item.rating.average}}</span></p>
              <p class="directors">导演：<span *ngFor="let director of item.directors; index as i">{{director.name}}{{(i === item.directors.length-1)?'':'、'}}</span>
              </p>
              <p class="casts">主演：<span *ngFor="let cast of item.casts; index as i">{{cast.name}}{{(i === item.casts.length-1)?'':'、'}}</span>
              </p>
              <button ion-button clear item-end>购买</button>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-slide>

      <ion-slide>
        <ion-scroll scrollY="true" [hidden]="!(MovieListTabs == '即将上映')">
          <ion-list class="comesoon-movie-list">
            <ion-item class="movie-list-item" *ngFor="let item of movie_comesoon_data" (click)="goMovieDetailPage(item)">
              <ion-thumbnail class="movie-poster" item-start>
                <img src="{{item.images.small}}" alt="{{item.alt}}">
              </ion-thumbnail>
              <h2>{{item.title}}</h2>
              <p>上映日期：<span>11月30号 周五</span></p>
              <p class="wish-number">有<span>{{item.collect_count}}</span>人想看</p>
              <p class="directors">导演：<span *ngFor="let director of item.directors; index as i">{{director.name}}{{(i === item.directors.length-1)?'':'、'}}</span>
              </p>
              <p class="casts">主演：<span *ngFor="let cast of item.casts; index as i">{{cast.name}}{{(i === item.casts.length-1)?'':'、'}}</span>
              </p>
              <button ion-button clear item-end>预售</button>
            </ion-item>

          </ion-list>
        </ion-scroll>
      </ion-slide>
    </ion-slides>
  </div>
</div>