page-comment-detail {

}

.comment-own{
  border-bottom: .8rem solid #eee;
}
.comment-own-top{
  margin-top: 1rem;
}
.comment-own-top .comment-own-nickname{
  color: #000;
  font-size: 1.8rem;
  margin-left: .8rem;
}
.comment-own img{
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}
.comment-own-content{
  color: #888;
  font-size: 1.6rem;
  text-align: justify;
  text-indent: 2.3rem;
  padding: 0 .8rem;
  margin: .4rem 0 .4rem;
}

.comment-reply{

}
.comment-reply-item{
  border-bottom: 1px solid #eee;
}
.comment-reply-count{
  padding-left: .8rem;
  margin: .4rem 0;
}
.comment-reply-count span{
  font-size: 1.6rem;
  color: #FF2C25;
  font-weight: 600;
}
.comment-reply img{
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}
.comment-reply .comment-reply-nickname{
  color: #000;
  font-size: 1.6rem;
  margin-left: .8rem;
}
.comment-reply-content{
  color: #888;
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 2.3rem;
  padding: 0 .8rem;
  margin: .4rem 0 .4rem;
}

.dianzan{
  font-size: 1.2rem;
  color: #666;
  margin: 0 .4rem;
}

.comment-detail-bottom .reply-content-box{
  width: 100%;
  height: 2.4rem;
  padding-left: .4rem;
  border: 1px solid #aaa;
}
.comment-detail-bottom .reply-content-box input{
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}
