page-genre {

}
.genre-header{

}

.genre-title{
  width: 100%;
  height: 8%;
  background-image: url('../../assets/imgs/genreHeader.jpg');
  background-size: cover;
}
.genre-header .toolbar-title-md{
  margin-bottom: .8rem;
}
.genre-title ion-icon{
  position: absolute;
  top: .8rem;
  left: 2rem;
}
.genre-header .toolbar-title-md{
  font-size: 2.4rem;
  margin-top: .8rem;
  background:rgba(255,255,255,0);
}

.genre-header .toolbar-md{
  padding: 0;
  min-height: 0;
}
.genre-content{

}
.genre-content .swiper-slide{
  align-items: normal;
}
.genre-content .item-block{
  border: 1px solid #eee;
}
.genre-tabs{
  width: 100%;
  overflow: hidden;
}
.genre-tabs .swiper-container{
  width: 100%;
  overflow-x: scroll;
  background-color: #eee;
}
.genre-tabs .swiper-container .swiper-wrapper .swiper-slide{
  width: 20% !important;
}
.genre-tabs .genre-tab{
  width: 100%;
  height: 3rem;
  font-size: 1.45rem;
  color: #333;
  line-height: 3rem;
  border: 0;
  padding: 0;
  margin: 0 1.18rem;
}
.genre-tabs .segment-button.segment-activated{
  color: #00A0E2;
  font-weight: 700;
  border-bottom: 2px solid #00A0E2;
}

.genre-movieList{
  width: 100%;
  height: 100%;
}
.genre-movieList ion-item h2,
.genre-movieList p span{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.genre-movieList ion-item ion-thumbnail img{
  width: 6.4rem;
  height: 8.6rem;
}