page-setting {

}
.setting-content{
  background-color: #eee;
}
.setting-content ion-label{
  color: #000;
  font-size: 1.6rem;
}
.setting-content .item-block {
  border: 1px solid #eee;
}
.setting-content .setting-nickname{
  font-size: 2.2rem;
  margin-left: .4rem;
}
.setting-content p{
  color: #666;
}
.setting-user-item img{
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
}
.setting-content .setting-user-item{
  padding-top: .4rem;
  padding-bottom: .4rem;
  margin: .6rem 0;
}
.setting-content .login-out{
  margin: .8rem .8rem;
}
.setting-content .login-out button{
  width: 100%;
  font-size: 1.6rem;
}
.setting-content .button-md{
  margin: 0;
}