page-comesoon {

}
.comesoon-movie-header{

}
.comesoon-movie-content{

}
.comesoon-movie-list .movie-list-item p:nth-of-type(2) span{
  font-size: 1.4rem;
  font-weight: 600;
  color: #F51933;
  margin: 0 .4rem;
}