<!--
  Generated template for the WishMoviePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>想看的电影</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="wish-movie-content">
  <ion-list class="wish-movie-list">
    <ion-item>
      <p item-start>共<span>1</span>部电影</p>
      <p item-end>按标记时间</p>
    </ion-item>
    <ion-item *ngFor="let item of wish_movie_data">
      <ion-thumbnail class="movie-poster" item-start>
        <img src="{{item.movie_poster}}">
      </ion-thumbnail>
      <h2>{{item.movie_title}}</h2>
      <p class="douban-grade">豆瓣评分<span>{{item.rating}}</span></p>
      <p class="directors">主演：<span *ngFor="let actor of item.actors; index as i">{{actor}}{{(i === item.actors.length-1)?'':'、'}}</span>
      </p>
      <p>
        <span>{{item.release_time}}</span>
        在<span>{{item.exhibition_area}}</span>上映
      </p>
      <button ion-button item-end>购票</button>
    </ion-item>
  </ion-list>
</ion-content>
