page-movie-ticket {

}
.ticketDelSuccess {
  .toast-message {
    color: #666;
  }
  .toast-wrapper {
    background: #93E0FF;
    @extend .box;
  }
}

.ticket-content{
  background-color: #eee;
}
.ticket-list ion-item{
  border-bottom: .2rem solid #eee;
}
.ticket-list ion-item .seat{
  width: 2rem;
  height: 2rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  margin-right: 1.2rem;
  border-radius: 2rem;
  background-color: #888;
}
.ticket-list ion-item .ticket-state{
  color: #fff;
  padding: 0 .2rem;
  background-color: #888;
}