page-movie-ticket {

}
.ticket-content{
  background-color: #eee;
}
.ticket-list ion-item{
  border-bottom: .2rem solid #eee;
}
.ticket-list ion-item:nth-of-type(1){
  margin-top: .6rem;
}
.ticket-list ion-item .seat{
  width: 2rem;
  height: 2rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  margin-right: 1.2rem;
  border-radius: 2rem;
  background-color: #888;
}
.ticket-list ion-item .ticket-state{
  color: #fff;
  padding: 0 .2rem;
  background-color: #888;
}